@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* Shared */
:root{
    --primary-font: "Noto Serif", serif;
    --secondery-font: "Inter", sans-serif;

}


body{
    /* max-width: 1440px; */
    margin: 0 auto;
    background-color: #F5F8FF;
}
h2, .noto-sans{
    font-family: var(--primary-font);
}
.inter{
    font-family: var(--secondery-font);
}
p{
    font-family: var(--secondery-font);
    color: rgba(0, 0, 0, 0.5);
    /* font-size: 22px; */
}
h3, h4, h5, button, ul, li{
    font-family: var(--secondery-font);
}
.text-22px{
    font-size: 22px;
}

/* Header */

.menu-item:nth-child(1){
    color: #252432;
}
.menu-item{
    color: #8987A1
}

.navbar, section{
    margin: 0 auto;
}

/* Hero */
.title{
    font-size: 65px;
}
.hero{
    padding-top: 226px;
}
/* Plants */
.section-title{
    font-size: 50px;
    color: #000000;
}
.gray{
    color: rgba(0, 0, 0, 0.5);
}
.plants{
    margin-top: 120px;
}
/* .plants .section-desc{
    width: 888px;
} */
.cart-btn{
    padding: 19px 80px;
    font-size: 16px;
}
.trust-icon img {
    margin-top: -123px;
    margin-right: -97px;
    position: absolute;
}
.trusted-uls{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.bloom{
    
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.newsletter {
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    width: 100%;
    height: 533px;
}

.newsletter{
    max-width: 100%;
}
/* Responsive */

@media screen and (max-width: 576px) {
    .menu-item{
        display: none;
    }    
}